doctype html
html(lang="en")
  head
    title="Real time log"
    link(rel='stylesheet', type='text/css', href='/s/main.css?v2')
    link(rel='stylesheet', type='text/css', href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/styles/tomorrow.min.css')

  body

    #nav
      .dropdown
        span.dropbtn Help
        .dropdown-content
          span
            | With the purpose to post something in this stream use any code from examples below.
            br
            br
            | JavaScript:
            br
            pre.codeExample.
              fetch('#{host}:#{port}/#{streamId}', {
                method: 'post', headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({code: 200, status: 'OK'})
              });
            | NodeJS:
            br
            pre.codeExample.
              const r = require('https').request({
                host: '#{hostName}',
                path: '/#{streamId}',
                method: 'POST',
                headers: {'Content-Type': 'application/json'}
              });
              r.write(JSON.stringify({code: 200, status: 'OK'}));
              r.end();
            | PHP:
            br
            pre.codeExample.
              $ch = curl_init();
              curl_setopt($ch, CURLOPT_URL, '#{host}:#{port}/#{streamId}');
              curl_setopt($ch, CURLOPT_HTTPHEADER, ['Content-Type: application/json']);
              curl_setopt($ch, CURLOPT_POSTFIELDS, json_encode(['code' => 200]));
              curl_exec($ch);
              // OR
              exec("curl -s #{host}:#{port}/#{streamId} -H 'Content-Type: application/json' -d '".json_encode(['code' => 200])."'");
            | Bash:
            br
            pre.codeExample.
              curl -XPOST #{host}:#{port}/#{streamId} \
              -H 'Content-Type: application/json' -d '{"code":"200", "status": "OK"}'

      a.pull-right(href="https://github.com/cn007b/log") Fork me on GitHub
    #root
    script(type='text/javascript', src=socketIoJs)
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/highlight.min.js')
    script(type='text/javascript', src='/js/app.js')
